---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "download.scss";
@import "home.scss";

.img-patrons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    flex-basis: 30%;
  }
}

#memberList li {
  display: inline;
  width: 33%;
  float: left;
}

.app-logo {
  width: inherit;
}

.dropdown-item {
  color: #212529 !important;
}

blockquote {
  border-left: #bdc3c7 3px solid;
  padding-left: 4px;
}

