---
layout: page
title: "2007 KDE e.V. AGM Minutes"
---

<h1 class="Heading_1" style="text-align:left; ">Annual General Meeting of the KDE e.V. 2007</h1>
<p class="Standard" style="text-align:left; ">&nbsp;</p>
<p class="Standard" style="text-align:left; ">	Location:	Glasgow (Scotland), University of Strathclyde, Graham Hills Teaching Cluster</p>
<p class="Standard" style="text-align:left; ">	Date:	02.07.2007</p>
<p class="Standard" style="text-align:left; ">	Secretary:	Jens Herden</p>
<p class="Standard" style="text-align:left; ">&nbsp;</p>
<h2 class="Heading_2" style="text-align:left; ">Agenda</h2>
<ol style="list-style-type:decimal">
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Welcome and opening of the AGM</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Voting on the director of the AGM</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Reports</li>
</ol>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Board Activities</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Treasurer's Report</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Auditors' Report</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Relief of the Board</p>
<ol style="list-style-type:decimal">
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Reports from the Working Groups</li>
</ol>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">KDE League</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">KDE Free QT Foundation</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Marketing Working Group</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Human Computer Interface Working Group</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">System Administration Group</p>
<ol style="list-style-type:decimal">
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Voting of a new member of the Board</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Voting of Representatives to other bodies</li>
</ol>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Representatives to the KDE League</p>
<p class="Standard" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Representatives to the KDE Free QT Foundation</p>
<ol style="list-style-type:decimal">
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Voting of the Auditors</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Proposed change to the rules for Supporting Members</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Fiduciary License Agreement</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Discussion on software patents</li>
<li class="Standard" style="text-align:left; margin-left:18pt; text-indent:0pt; ">Any other business</li>
</ol>
<h3 class="Heading_3" style="text-align:left; ">1. Welcome and opening of the AGM</h3>
<p class="Standard" style="text-align:left; ">The Chairman of the Board, Eva Brucherseifer, opened the Annual General Meeting at 10:00am and welcomed the delegates, especially the Supporting Members' representatives, Knut Yrvin for Trolltech and Jonathan Riddell for Canonical.  She welcomed the growing membership of the e.V. and reminded those present that the Board acts as more than just a representative for KDE, especially in legal matters.  She encouraged the membership to make greater use of the Board's resources.  It was established that the sending of invitations to the AGM was in accordance with the rules and that the AGM was quorate with 88 members present or present by proxy.</p>
<p class="Standard" style="text-align:left; ">&nbsp;</p>
<h3 class="Heading_3" style="text-align:left; ">Voting on the director of the AGM</h3>
<p class="Text_body" style="text-align:left; ">Eva Brucherseifer proposed Chris Schlaeger as the director of the AGM.  This proposal was accepted with 85 Yes votes and 3 abstentions.  Chris Schlaeger took over the leadership of the AGM and proposed Anne Østergard as representative of the Gnome Foundation and Troy Unrau as future member of the e.V. be allowed to attend as guests.  There were no objections and both were invited to attend.</p>
<p class="Text_body" style="text-align:left; ">The Agenda was extended under items 11 „Any other business“ with the following items:</p>
<ol style="list-style-type:decimal">
<li class="Text_body" style="text-align:left; margin-left:54.0001pt; text-indent:0pt; ">Welcome of new members: Kevin Krammer, Frank Osterfeld, Knut Yrvin</li>
</ol>
<p class="Text_body" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">New licences GPL3 / LGPL3</p>
<p class="Text_body" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Experiences of the Gnome Foundation regarding salaried employees</p>
<p class="Text_body" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Research Working Group</p>
<p class="Text_body" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Owner of the kde.org domain name</p>
<p class="Text_body" style="text-align:left; margin-left:36.0001pt; text-indent:0pt; ">Rules for online voting</p>
<p class="Standard" style="text-align:left; ">The extended Agenda was accepted with 84 Yes votes and 4 abstentions.</p>
<h3 class="Heading_3" style="text-align:left; ">11.1 Welcome of new members</h3>
<p class="Standard" style="text-align:left; ">This item was brought forward, to allow the newly voted-in members to take part in the rest of the AGM.  There was some uncertainty about whether Kevin Krammer was already a member.  After checking it was found that a vote had already taken place and that he had actually already been voted in by the membership.</p>
<p class="Standard" style="text-align:left; ">After supporters for both candidates had been found, both candidates gave their motives for wanting to become members.  Both left the room and the following vote result was recorded:</p>
<p class="Standard" style="text-align:left; ">	Frank Osterfeld: 	62 Yes, 25 Abstentions and 1 No vote</p>
<p class="Standard" style="text-align:left; ">	Knut Yrvin: 		46 Yes,395 Abstentions and 3 No votes</p>
<p class="Standard" style="text-align:left; ">The new members immediately took their places in the AGM, giving 91 voting members present.</p>
<h3 class="Heading_3" style="text-align:left; ">3.1 / 3.2 Board Activities &amp; Treasurer's Report</h3>
<p class="Text_body" style="text-align:left; ">The Board activities report and the Treasurer's Report were delivered together by the Treasurer, Cornelius Schumacher.  He reported on the e.V.'s active Working Groups.   The establishment of a Technical Working Group failed, but its responsibilities had been taken over by the Release Team.</p>
<p class="Text_body" style="text-align:left; ">The 'Akademy' annual conference is one of the e.V.'s main tasks. Its organisation and implementation takes place in cooperation with a local team. Unfortunately there have not been any applications to host Akademy 2008 yet. A short discussion without any concrete result followed.</p>
<p class="Text_body" style="text-align:left; ">As well as that, the e.V. supported smaller developer meetings.  Five of these took place in the period reported, and others are being planned.  Representing KDE is another objective.  KDE was represented at CeBIT, Linuxtag and many smaller events.  The e.V. also invested in new hardware in order to meet growing demands and new tasks.  Further expenditures are planned.</p>
<p class="Text_body" style="text-align:left; ">The work of the Board was coordinated in one meeting and several conference calls.  The Board members and the general membership were also active in many other ways.</p>
<p class="Text_body" style="text-align:left; ">18 new active members were welcomed into the e.V. in the past year, and new supporting members joined: Medas GmbH, basysKom and Sirius Corporation.</p>
<p class="Text_body" style="text-align:left; ">In addition, the following new supporting members became 'Patrons of KDE': Trolltech, Intel, Novell, Inc. and  Klarälvdalens Datakonsult AB. This is especially welcome as it creates a more regular income stream.</p>
<p class="Text_body" style="text-align:left; ">The financial report for the calendar year 2006:</p>
<p class="Text_body" style="text-align:left; ">Income:	68,552 EUR</p>
<p class="Text_body" style="text-align:left; ">Expenditure:	38,218 EUR</p>
<p class="Text_body" style="text-align:left; ">Surplus:	30,334 EUR</p>
<p class="Text_body" style="text-align:left; ">Balance at the close of 2006: 82,198 EUR</p>
<p class="Text_body" style="text-align:left; ">Planned budget for 2007: Income 102,738 EUR, Expenditure 101,160 EUR</p>
<p class="Text_body" style="text-align:left; ">A discussion about the details of these figures followed.</p>
<p class="Text_body" style="text-align:left; ">It is planned to continue with existing activities and to start new initiatives.  A salaried employee will be recruited to unburden the Board.  Additionally, a Partner program is planned, improved links with firms in KDE's sphere.</p>
<p class="Standard" style="text-align:left; ">Anne Østergard encouraged the KDE e.V. to take part in EU meetings.  This was received positively.</p>
<h3 class="Heading_3" style="text-align:left; ">3.3 Auditors' Report</h3>
<p class="Text_body" style="text-align:left; ">The Auditors, Claire Lotion and Stephan Binner, did not discover any irregularities in the course of their audit.  They recommended that the Board be relieved and reminded the Board of an old declaration of intent to report quarterly on the bank balance.</p>
<h3 class="Heading_3" style="text-align:left; ">3.4 Relief of the Board</h3>
<p class="Text_body" style="text-align:left; ">The Board was relieved by the AGM. There were 83 Yes votes, 8 abstentions and 0 No votes.</p>
<h3 class="Heading_3" style="text-align:left; ">4.1 KDE League</h3>
<p class="Text_body" style="text-align:left; ">Daniel Molkentin reported on the state of the dissolution of the KDE League. There was no progress since last year, but work continues towards this goal.</p>
<h3 class="Heading_3" style="text-align:left; ">4.2 KDE Free QT Foundation</h3>
<p class="Text_body" style="text-align:left; ">The chosen representative was not present, but others reported instead. Work continues as planned. This concerns the transition from QPL to GPL with exceptions and the possible adoption of the license for the Windows platform. In future the extent to which GPL3 can or should become a part of the agreement must be discussed.</p>
<h3 class="Heading_3" style="text-align:left; ">4.3 Marketing Working Group</h3>
<p class="Text_body" style="text-align:left; ">Board member Sebastian Kügler did not give up his activities in this working group, as previously announced, and reported on its work. There were several promotional activities of different quality. A so-called 'Branding Meeting' took place and activity concentrates on KDE 4 in the meantime. Some promotional articles have already been acquired, others are on order. The suggestion was made to acquire branded attire suitable for business meetings, such as polo shirts.</p>
<p class="Text_body" style="text-align:left; ">The planned Partner Program was described, as was the possibility for members to receive business cards.</p>
<h3 class="Heading_3" style="text-align:left; ">4.4 Human Computer Interface Working Group</h3>
<p class="Standard" style="text-align:left; ">Olaf Schmidt reported from the HCI Working Group. There are unfortunately too few active members. A concept has been developed which has to be divided into smaller parts to be worked on, so that it can be discussed by the developers and implemented. In additional he reported that the number of participants in the 'HIG Hunting Season' has not been satisfactory.</p>
<p class="Standard" style="text-align:left; ">It was asked why there was nobody from 'Open Usability' present at the conference. The answer was that there are also too few active people there and that it is difficult to attract new people.</p>
<h3 class="Heading_3" style="text-align:left; ">4.5 System Administration Group</h3>
<p class="Standard" style="text-align:left; ">Dirk Mueller also reported that there are few active people in this group. In spite of this there were no significant problems in the running of the servers, with the exception of a weekend mail server failure that could not immediately be dealt with due to poor communication. Due to lack of time the migration of Bugzilla has not progressed, but remains on the agenda. He indicated the problems that arise when KDE-related servers and domain names are in private ownership and difficulties ensue. He requested that all important servers and domain names be transferred to the control of KDE e.V. Dirk reminded the membership that contact to this Working Group should take place using sysadmin@kde.org. A discussion on how best to improve the group's working practices with others followed. The discussion was postponed.</p>
<h3 class="Heading_3" style="text-align:left; ">5. Voting of a new member of the Board</h3>
<p class="Standard" style="text-align:left; ">Two candidates were introduced, Klaas Freitag and John Tapsell. It was decided to take a lunch break from 12:55 to 14:30.</p>
<p class="Standard" style="text-align:left; ">After lunch the attendees were counted and all 91 voting members were present. The candidates presented themselves briefly and answered questions. The secret vote gave the result:</p>
<p class="Standard" style="text-align:left; ">	Klaas Freitag	64</p>
<p class="Standard" style="text-align:left; ">	John Tapsell	17</p>
<p class="Standard" style="text-align:left; ">	Abstentions	10</p>
<p class="Standard" style="text-align:left; ">Klaas Freitag was elected, and as he accepted the vote, immediately became a new member of the Board. In response to a question it was explained that he would not be automatically becoming chairman of the Board, but that a future Board meeting would decide the division of responsibilities between the Board members.</p>
<h3 class="Heading_3" style="text-align:left; ">6.1 Representatives to the KDE League</h3>
<p class="Standard" style="text-align:left; ">Will Stephenson and Chriss Howells were suggested for the two positions. The vote gave the result:</p>
<p class="Standard" style="text-align:left; ">	Will Stephenson		79 Yes votes, 12 abstentions and 0 No votes,.</p>
<p class="Standard" style="text-align:left; ">	Chris Howells		75 Yes votes 15 abstentions and 0 No votes (1 member was outside)</p>
<p class="Standard" style="text-align:left; ">Both accepted the result of the vote.</p>
<h3 class="Heading_3" style="text-align:left; ">6.2 Representatives to the  KDE Free QT Foundation</h3>
<p class="Standard" style="text-align:left; ">Martin Konold, the current representative, indicated in his absence that he wishes to continue with this task. He was nominated, together with Olaf Schmidt and Riccardo Iaconelli. The result:</p>
<p class="Standard" style="text-align:left; ">Martin Konold		73 Yes votes, 18 abstentions and 0 No votes,.</p>
<p class="Standard" style="text-align:left; ">Olaf Schmidt		77 Yes votes, 14 abstentions and 0 No votes,.</p>
<p class="Text_body" style="text-align:left; ">Riccardo Iaconelli	37 Yes votes, 51 abstentions and 3 No votes</p>
<p class="Text_body" style="text-align:left; ">Olaf Schmidt accepted the result of the vote and it was expected that Martin Konold would also do so.</p>
<p class="Standard" style="text-align:left; font-family: 'Albany AMT'; font-weight: bold; font-size: 12pt; ">7. Voting of the Auditors</p>
<p class="Standard" style="text-align:left; ">Claire Lotion and Till Adam were nominated for the two auditor positions.</p>
<p class="Standard" style="text-align:left; ">Claire Lotion	85 Yes votes 6 abstentions and 0 No votes,.</p>
<p class="Text_body" style="text-align:left; ">Till Adam	83 Yes votes, 8 abstentions and 0 No votes,.</p>
<p class="Standard" style="text-align:left; ">Both accepted the result of the vote.</p>
<h3 class="Heading_3" style="text-align:left; ">8. Proposed change to the rules for Supporting Members</h3>
<p class="Standard" style="text-align:left; ">The Board suggested that the membership fee amount in US Dollars should be removed from the rules, and that the amount in Euro should remain unchanged. The reason is that exchange rate fluctuations lead to uncertainty. The assembly voted this change in with 87 Yes votes, 4 abstentions and 0 No votes.</p>
<h3 class="Heading_3" style="text-align:left; ">11.6  Rules for online voting</h3>
<p class="Standard" style="text-align:left; ">Dirk Mueller expressed his dissatisfaction with the current rules for online voting. He felt that the two week discussion period followed by a two week voting period was too long. A longer discussion followed resulting in the following suggestions, which were put to a vote:</p>
<p class="Standard" style="text-align:left; ">	1. 1 week of discussion followed by 1 week of voting</p>
<p class="Standard" style="text-align:left; ">	2. 1 week of discussion, optionally extended by 1 week, followed by 1 week of voting</p>
<p class="Standard" style="text-align:left; ">	3. No discussion, 2 weeks of voting, but with the possibility to change one's vote.</p>
<p class="Standard" style="text-align:left; ">	4. 2 weeks of discussion followed by 1 week of voting</p>
<p class="Standard" style="text-align:left; ">	5. No change, 2 weeks of discussion followed by 2 weeks of voting</p>
<p class="Standard" style="text-align:left; ">The result:</p>
<p class="Standard" style="text-align:left; ">	Suggestion 1: 19 votes</p>
<p class="Standard" style="text-align:left; ">	Suggestion 2: 26 votes</p>
<p class="Standard" style="text-align:left; ">	Suggestion 3: 15 votes</p>
<p class="Standard" style="text-align:left; ">	Suggestion 4: 1 vote</p>
<p class="Standard" style="text-align:left; ">	Suggestion 5: 16 votes</p>
<p class="Standard" style="text-align:left; ">There were 14 abstentions, and so suggestion 2 was accepted.</p>
<p class="Standard" style="text-align:left; ">Dirk Mueller would like to give up the task of carrying out online votes. The Board will seek a replacement. Until then, Dirk Mueller will continue to perform this role.</p>
<p class="Standard" style="text-align:left; ">A pause from 16:10 to 16:30 followed.</p>
<p class="Standard" style="text-align:left; ">&nbsp;</p>
<h3 class="Heading_3" style="text-align:left; ">9. Fiduciary License Agreement</h3>
<p class="Standard" style="text-align:left; ">Adriaan de Groot presented the results so far. The idea is that authors can transfer the rights to their works to the KDE e.V. and at the same time, KDE e.V. grants a comprehensive license to use those works back to the author. In this way, the further use of the works by the author is not restricted, but at the same time the possibility to, for example, make changes to the licensing of the works in future is ensured. This would be a voluntary and personal decision, which does not form a condition for working on KDE.</p>
<p class="Standard" style="text-align:left; ">A second document describes what KDE e.V. may do with the rights granted to it more comprehensively. Further discussion is to follow later, or online.</p>
<h3 class="Heading_3" style="text-align:left; ">10. Discussion of software patents</h3>
<p class="Standard" style="text-align:left; ">Olaf Schmidt summarised the state of discussions on this topic inside KDE. The unanimous opinion of the membership is that it is a good idea to have a position regarding this topic, but that before this is made public the e.V. should try to come to a common position with the Gnome Foundation and others.</p>
<h3 class="Heading_3" style="text-align:left; ">11.2 New licences GPL3 / LGPL3</h3>
<p class="Standard" style="text-align:left; ">The new GPL licenses were discussed. There seem to be incompatibilities between LGPL2 and GPL3. It was decided that the details need to be worked out in order to be able to take a decision in future about the possible future use of the new licenses.</p>
<h3 class="Heading_3" style="text-align:left; ">11.3 Experiences of the Gnome Foundation regarding salaried employees</h3>
<p class="Standard" style="text-align:left; ">Anne Østergard from the Gnome Foundation described their experiences with their salaried employees and gave tips as to which aspects are important when choosing someone. The professionalisation of this work took a major burden away from the Board of the Gnome Foundation.</p>
<h3 class="Heading_3" style="text-align:left; ">11.4 Research Working Group</h3>
<p class="Standard" style="text-align:left; ">Claire Lotion urged the formation of a new working group: the Research Working Group. She described her ideas and a short discussion took place. The suggestion received a generally positive response. Further discussion will follow on the mailing list and a document describing the goals of this working group will be drawn up.</p>
<h3 class="Heading_3" style="text-align:left; ">11.5 Owner of the domain name kde.org</h3>
<p class="Text_body" style="text-align:left; ">It was mentioned that the domain name kde.org is currently owned by Trolltech. The Board is to work towards its transfer to the e.V.</p>
<p class="Text_body" style="text-align:left; ">&nbsp;</p>
<p class="Text_body" style="text-align:left; ">Sebastian Kügler thanked the organisers of Akademy 2007 and thanked Eva Brucherseifer for her work on the Board.</p>
<p class="Text_body" style="text-align:left; ">At 17:30 the director of the AGM declared the meeting closed.</p>
<p class="Text_body" style="text-align:left; ">&nbsp;</p>
<p class="Text_body" style="text-align:left; ">&nbsp;</p>
<p class="Text_body" style="text-align:left; ">&nbsp;</p>
<p class="Text_body" style="text-align:left; ">_______________________________				______________________________</p>
<p class="Text_body" style="text-align:left; ">Versammlungsleiter						Protokollant</p>
<p class="Text_body" style="text-align:left; ">&nbsp;</p>
<p class="Text_body" style="text-align:left; font-style: italic; ">English translation: Will Stephenson</p>
