<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2>KDE Advisory Board Report</h2>
                    <h5>By Thomas Pfeiffer</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The KDE Advisory Board is a group of representatives of KDE e.V.'s patrons and other select organizations that are close to KDE's mission and  community. It currently has 13 members, and there is a KDE e.V. working group with community members acting as direct contacts for our partners. The Advisory Board holds three calls every year to report on KDE's activities, receive feedback, and discuss topics of shared interest. </p>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One of these shared topics in 2018 was the planned change to the EU Copyright Directive. The plans contained some clauses particularly concerning for Free and Open Source Software projects because of the so-called "upload filters" in Article 13. This change would have made hosting of source code repositories and free sharing of code difficult or even impossible. </p>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One of the results of the Advisory Board discussions was that KDE e.V. got engaged in the <a href="https://savecodeshare.eu/">"Save Code Share" initiative</a>, resulting in an open letter to EU policymakers where KDE e.V. is one of the signatories. The results are positive, as it seems we managed to prevent the worst consequences of the original plan.</p>
                        </div>
                    </div>
                </div>
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The Advisory Board is a place and a symbol of KDE's collaboration with other organizations and communities firmly standing behind the ideals of Free and Open Source Software. </p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
    <br/>
</section>
