<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kde-logo.png"/> Akademy, August 2018, Vienna</h2>
                    <h5>By Devaja Shah, Ivana Isadora Devčić and Paul Brown</h5>
                </div>
            </div>
        </div>
        <br/>
        
        
        <div class="row">
            <div class="">

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Akademy 2018 got off to a wet start with rains accompanying all attendees pouring into Vienna for KDE's largest annual community conference. Although the Pre-Registration event was held on Day Zero (Friday, August 10) and it was a fun-filled affair, Akademy kicked off in earnest on Saturday, with talks, panels and demo sessions.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Day 1</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p><a href="https://dot.kde.org/2018/03/21/dan-bielefeld-keynote-speaker-akademy-2018-exposing-injustice-through-use-technology">Dan Bielefeld</a>, the Technical Director of the <a href="https://en.tjwg.org/">Transitional Justice Working Group</a> kicked off the event with a sobering talk on the work they do to identify North Korean locations of mass burial and execution sites using mapping technologies. He also delivered insight into how North Korea and the Kim regime operate, and how his organization gleans information both from interviews with refugees and from studying satellite imagery.</p>
                            
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/akademy_dan.jpg" alt=""/>
                                <figcaption>Dan Bielefeld explains how they help map atrocities performed by the Kim regime at Akademy 2018.</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Although the topic of the suffering of North Koreans is grim, there is a silver lining, says Dan: One day there will be a transition, there will come a day when the Kim regime will end and North Koreans will regain the freedom that they have been denied for over 70 years. The work of the Transitional Justice Working Group will also help with that. Finding out what happened to loved ones and bringing those responsible for the atrocities to justice will be a crucial part of helping the nation heal.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>And it makes sense, says Dan, for the Transitional Justice Working Group to work with both Free Software and Free Software communities. The software offers the group a degree of security and control they cannot find in closed source applications; and Free Software communities uphold the same values Dan's group is fighting for; that is, the right to privacy and personal freedom.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Quite appropriately, after Dan's keynote, Adriaan de Groot ran a panel where members discussed the matter of privacy. Developing privacy-respecting software is one of KDE's main goals, and the panelists explained how developing Free and open Personal Digital Assistants like <a href="https://mycroft.ai/documentation/plasma/">Mycroft</a> was crucial to protecting users from snooping corporations.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Another thing we rarely think about, but is a source of concern with regard to personal information, are trip planners. The amount of sensitive information that we unwittingly share by letting opaque apps tell us when and where to catch our flight is staggering. Since the 2017 Randa sprint, there are KDE developers actively working on a truly open and private solution that will help solve this problem.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The panel also discussed the state of GnuPG in Kmail. GnuPG is the framework that allows users to encrypt and decrypt email messages that would otherwise be sent in clear text -- a big privacy concern. At this stage of play, GnuPG is tightly integrated into Kmail and is not only convenient for end users, but has also proved to be immune to recent vulnerabilities that have affected other email clients.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Combined with the underlying policy of all KDE apps of never collecting data subvertly or otherwise, KDE is sticking strictly to its goal of preserving user privacy.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                             <figure class="image-right">
                                <img width="100%" src="images/sprints/akademy_neofytos.jpg" alt=""/>
                                <figcaption>Neofytos Kolokotronis explains how to facilitate the onboarding of new members into the community.</figcaption>
                            </figure>
                        
                            <p>Neofytos Kolokotronis talked about the progress of another of KDE's main goals, namely the onboarding of new users. Neofytos explained to attendees the progress the working group had made so far and where they wanted to go to. He had some advice on how to help new users join KDE, such as having good and clear documentation, mentoring new contributors, and building connections outside your immediate niche.</p>

                            <p>In his talk titled <a href="https://conf.kde.org/en/Akademy2018/public/events/44">Winds of Change - FOSS in India</a>, Wrishiraj Kaushik spoke about the current scenario of FOSS in India, his experience leading <a href="https://superxos.com/">the SuperX project</a>, and integrating KDE with it.</p>

                            <p>The Indian union government has a nation-wide recommendation in place for the use, promotion and development of Free and Open Source software. Despite this, FOSS adoption has remained low in the country. The decision taken by some state governments to not adopt these recommendations in conjunction with the aggressive marketing carried out by proprietary software vendors in India has seriously hindered the use of Free Software. SuperX, however, has managed to find a place within the government and a few Indian universities thanks to its user-centric approach. SuperX has deployed 30,000 KDE shipments -- one of the largest deployments in the world, and there are 20,000 more in the works.</p>

                            <p>This was followed by a <a href="https://conf.kde.org/en/Akademy2018/public/events/30">panel discussion by Lydia, Valorie and Bhushan</a> in which they told the community about our KDE student programs and explained how to help with maintaining them. It was a talk of high relevance, given our community-wide goal to streamline the onboarding process for new contributors, and the fact that a large part of our new contributor base comes through our organized mentoring programs, namely Google Summer of Code, Google Code-in and Season of KDE.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p><a href="https://conf.kde.org/en/Akademy2018/public/events/32">Mirko Boehm presented a talk on the genesis of Quartermaster</a>, a toolchain driven by <a href="https://endocode.com/">Endocode</a> and supported by Siemens and Google. Quartermaster implements industry best practices of license compliance management. It generates compliance reports by analyzing data from the CI environment and building graphs for analysis, primarily performing a combination of build time analysis and static code analysis.</p>

                             <figure class="image-left">
                                <img width="100%" src="images/sprints/akademy_atelier.png" alt=""/>
                                <figcaption>Atelier/AtCore allows user to control their 3D printers from the comfort of their desktops.</figcaption>
                            </figure>
                            
                            <p><a href="https://conf.kde.org/en/Akademy2018/public/events/38">Lays Rodrigues talked about Atelier</a>, a cross-platform application designed to help you control your 3D printer, with support for most printers with open source firmware. Lays demoed the various features of Atelier during her talk, including video monitoring of the printer, 3D preview of the print design, temperature graphs and more.</p>
                            
                            <p><a href="https://conf.kde.org/en/Akademy2018/public/events/40">Zoltan Padrah gave a talk on KTechLab</a> and explained how he discovered it as a student of electronics engineering in 2008. KTechLab is a program that helps simulate electronic circuits and programs running on microcontrollers. It was migrated to the KDE infrastructure and joined KDE as a project in 2017. The developers' upcoming plans are to release KTechLab for Qt4 and Qt5, and to port it to KDE Frameworks 5, as well as add new features like support for simulating automation systems for mechanics, and KiCad import/export.</p>

                            <p>Since Day 1 of Akademy was so full of content, this is just a summary of a few of the sessions we enjoyed. There were many more talks on all topics, ranging from containerizing KDE's graphical apps, to an end users' perspective of using Kontact in a professional environment.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Day 2</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Sunday started with a wonderfully insightful keynote by <a href="https://dot.kde.org/2018/05/29/claudia-garad-executive-director-wikimedia-%C3%B6sterreich-we-want-create-welcoming-atmosphere">Claudia Garad</a>, the Executive Director of Wikimedia Austria. She focused her talk on some of the challenges that organizations like hers face when trying to bring about more inclusivity and diversity within their communities. </p>
                            
                            <figure class="image-full">
                                <img width="100%" src="images/sprints/akademy_claudia.jpg" alt=""/>
                                <figcaption>Claudia Garad from Wikimedia talks about the challenges of inclusivity within open communities.</figcaption>
                            </figure>                            
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>She emphasized the importance of making underrepresented communities feel more welcome and heard within the organization, then went on to speak about how she perceived KDE as being quite ahead of Wikimedia in some aspects, especially when it came to reaching these goals.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One of the things she thought brought a positive vibe to the KDE community was that "KDE embraces cuteness", she said while displaying a slide with the <a href="https://community.kde.org/Get_Involved">"pile of Konquis"</a> picture. On a more serious note, she said that through events such as Akademy, sprints and gatherings around the world, you can bring together people from immensely diverse backgrounds and have them work towards building a stronger community.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Speakers covered a wide variety of topics in the afternoon. <a href="https://conf.kde.org/en/Akademy2018/public/events/101">Alan Pope from Canonical, for example, told us about Snapcraft</a>, a web-based tool that makes it incredibly simple to build a Linux package out of code just pushed onto git. Meanwhile, Oliver Smith, the project lead of <a href="https://postmarketos.org/">postmarketOS</a>, <a href="https://conf.kde.org/en/Akademy2018/public/events/67">spoke about the experimental phone OS based on Alpine Linux</a> and plans for integration with Plasma Mobile.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Meanwhile, <a href="https://conf.kde.org/en/Akademy2018/public/events/66">David Edmundson was not only predicting where KDE's Plasma desktop would be going next</a>, but also numbering the potential pitfalls it would have to avoid on its way getting there. One of the things in store for Plasma users is <a href="https://conf.kde.org/en/Akademy2018/public/events/4">full browser integration</a>. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Kai Uwe Broulik explained what was working, and how you would be able to control every aspect of your web browser with Plasma's integrated tools. At that point controls for playback of videos and music on many popular sites using desktop widgets, including the likes of KDE Connect was already working.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Talking of playing music, <a href="https://conf.kde.org/en/Akademy2018/public/events/13">Camilo Higuita told us about the progress of VVAVE</a>, a next-generation audio player that is fully convergent (it integrates both with your Plasma desktop and your mobile phone), and is but one part of Camilo's idea for an open audio streaming service. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                        
                            <figure class="image-right">
                                <img width="100%" src="images/sprints/akademy_volker.jpg" alt=""/>
                                <figcaption>Volker Krause demonstrates Plasma Mobile on an embedded device.</figcaption>
                            </figure>
                            
                            <p><a href="https://conf.kde.org/en/Akademy2018/public/events/23">Andreas Cord-Landwehr gave a talk on Yocto</a> and how to use it to build images and SDKs and to create KDE-powered devices with <a href="https://www.yoctoproject.org/">Yocto</a>. In a a similar vein, Volker Krause showed off a Raspberry Pi-based device running Plasma Mobile, also on Yocto. The excitement of the KDE developers when it comes to running KDE software on mobile devices is electric, and the audience was buzzing during these talks.</p>

                            <p>The day ended with Sponsor Talks by <a href="https://www.qt.io/company/">The Qt Company</a>, <a href="http://www.blue-systems.com/">BlueSystems</a>, <a href="https://www.canonical.com/">Canonical</a>, <a href="https://www.opensuse.org/">openSUSE</a>, <a href="https://www.codethink.co.uk/">CodeThink</a>, and <a href="https://mycroft.ai/">Mycroft</a>.</p>

                            <p>Finally, there was the Akademy Awards ceremony. The <a href="https://community.kde.org/Akademy/Awards">Akademy Awards</a> are a way of honoring members that have done outstanding work for the benefit of the whole community.    </p>

                            <p>The Application Akademy award went to Aditya Mehra for their work on the Mycroft integration providing KDE with a Free speech assistant that is Free as in freedom.</p>

                            <p>The Non-Application Akademy Award went to Valorie Zimmerman for their work on driving KDE's mentoring programs and the Community Working Group, and being one of KDE's good souls.</p>

                            <p>There were three Jury awards this year. They went to Sebastian Kügler for their many years of relentless hacking and more (Plasma, KDE Marketing, years in the KDE e.V. Board); David Edmundson for their work on Telepathy, porting applications to Frameworks 5, Plasma, KWin, KWayland, and being the crazy guy around; and to Mario Fux for supporting KDE over many years through organizing the Randa meetings.</p>

                            <p>The Akademy Team were thanked with the Organizational Award to Stefan Derkits and the whole team responsible for putting together Akademy 2018.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Days 3 to 7</h3>
                        </div>
                    </div>
                </div>
                            

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>During the rest of the week, attendees held BoFs (Birds-of-a-Feather meetings), more informal presentations, meetings and coding sessions, where they tackled all sorts of topics.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The Plasma and Plasma Mobile team, for example, discussed not only technical issues, but also covered ways of recruiting more contributors to the team.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>How to build up the KDE community is a common theme at Akademy, and Sandro Andrade led a BoF on "KDE in the Americas". The attendees discussed events and activities in the all parts of the American continent, and tried to identify issues that hinder the growth of the community there.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>There were also sessions about KDE Applications on Android. Designers discussed the look and feel of Plasma and its applications, and the Promotion and Communication team wondered how they could best let the world know about all the great things going within our community.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/>
</section>
