<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2>Financial working group</h2>
                    <h5>By Eike Hein, David Edmundson and Neofytos Kolokotronis</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>In 2018, KDE e.V. received several large one-time donations raising our annual income to a record 591,000 EUR. In addition the growth of our income through regular sponsorship and donations exceeded our expectations.</p>

                            <p>Also in 2018, we increased our spending on development sprints by 12,000 EUR and provided financial support for more people to attend our Akademy conference than in any previous year.</p>

                            <p>These are strongly linked developments: As our community and ecosystem experience growth, so does the overall profile of our financial activities. The expanded activities then enable our community to attract additional sponsors and benefactors.</p>

                            <p>In 2019, we continue to drive forward this virtuous cycle. We will put a larger percentage of the organization's accumulated savings, which grew in 2018 by 381,000 EUR, into the community's activities, e.g. its elected long-term goals, than in 2018.</p>
                        </div>
                    </div>
                </div>
   
    <div class="row">
        <div class="col-xs-12 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <table class="table">
                <thead>
                    <tr>
                    <th><h3>Income (&euro;):</h3></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                <!--
                <tr>
                    <td>Corporate Supporters:</td>
                    <td class="text-right">21.000,00</td>
                </tr>
                -->
                <tr>
                    <td>Individual Supporters:</td>
                    <td class="text-right">41.900</td>
                </tr>
                <tr>
                    <td>Donations:</td>
                    <td class="text-right">496.266</td>
                </tr>
                <tr>
                    <td>Google Summer of Code:</td>
                    <td class="text-right">11.055</td>
                </tr>
                <tr>
                    <td>Akademy:</td>
                    <td class="text-right">36.844</td>
                </tr>
                <tr>
                    <td>Other:</td>
                    <td class="text-right">5.551</td>
                </tr>
<!--
        <tr><td>&nbsp;</td><td> </td></tr>
		<tr><td>&nbsp;</td><td> </td></tr>
-->
                <tr>
                    <td><b>Total:</b></td>
                    <td class="text-right"><b>591.616</b></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <table class="table">
                <thead>
                    <tr>
                    <th><h3>Expenses (&euro;):</h3></th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Sprints and meetings (sans Akademy):</td>
                    <td class="text-right">61.054</td>
                </tr>
                <tr>
                    <td>Akademy:</td>
                    <td class="text-right">68.459</td>
                </tr>
                <tr>
                    <td>Personnel costs:</td>
                    <td class="text-right">28.363</td>
                </tr>
                
                <!--
                <tr>
                    <td>Office and organizational costs:</td>
                    <td class="text-right">4.648,90</td>
                </tr>
                <tr>
                    <td>Infrastructure:</td>
                    <td class="text-right">3.894,59</td>
                </tr>
                -->
                <tr>
                    <td>Other:</td>
                    <td class="text-right">52.152</td>
                </tr>
                
                <tr>
                    <td><b>Total:</b></td>
                    <td class="text-right"><b>210.028</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sx-12 wow fadeInDown alert alert-info" data-wow-duration="1000ms" data-wow-delay="300ms">
            <strong>Financial Support:</strong> If you or your company are interested in financially supporting the KDE Community on an ongoing basis, please visit the <a href="https://ev.kde.org/getinvolved/supporting-members/" target="_blank">Supporting Members page</a> on the KDE e.V. website.

        </div>
    </div>
</div>
<br />
</section>
