<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/gsoc_logo.png" /> <a href="https://community.kde.org/GSoC/2018/Ideas">KDE at Google Summer of Code</a></h2>
                    <h5>By Valorie Zimmerman</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">
            
                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                                <img width="100%" src="images/events/gsoc_header.png" alt=""/>
                            </figure>
                            <p>The Google Summer of Code Mentor Summit flies by quickly - it usually happens over a weekend, and in 2019 it was held from October 12 to October 14. The organization was, as always, on a high level: the hotel prepared the "hospitality room" full of food and drink and shy first-time attendees. Eventually dinner was served there too, followed by the opening session. During the opening session, everyone introduced themselves with "4 words describing your interests" - not as easy as it may sound! With over 300 attendees, it was a great way to let everyone be heard in a meaningful way.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>On Friday night, everybody started populating the Chocolate Table. There was so much chocolate that it had moved from one large round table to two long ones by Saturday! Fábián Kristóf from the KDE project Labplot attended as well.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>After breakfast on Saturday, sessions began. GSoC Mentor Summit is always organized as an Un-Conference. For those readers who have never attended such an anarchically-organized gathering, it is surprisingly orderly and valuable. My plan was to attend talks and gatherings by others, but I soon began noticing a through-line I thought we should address. The feeling became stronger during Sunday morning, so I added a card on the schedule board with the words in all caps - “BURN OUT”. Only the largest room was left open so I put it there, and it ended up standing-room only.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Thanks to the information Lydia has shared through the years, I was able to give a short story of my own experience and then open it up to the audience. We ended up with 3 runners with 3 microphones so everyone else could unburden themselves, and then reflect on how this experience could help us be better mentors and better organization admins. Burnout is so destructive on an individual level, but it can poison a whole team, too. That large room was going to be the farewell session, but there was so much interest that we were allowed to extend it. The whole experience was incredibly powerful, with everyone sharing their stories so openly and helpfully.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Between Saturday morning and Sunday evening, the weekend was packed with small and large sessions, great small groups and private conversations, good food, a fun party, and some tearful farewells. I had wonderful conversations about Windows and Mac builds, and even had time to eat some delicious chocolate from around the world. This is organized every year by Robert Kaye from Metabrainz, and it is genius!</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Some of the lightning talks from this year are especially worth highlighting. Since this is student work from hundreds of organizations around the world, it's just amazing to see the variety. The one that blew me away was about the project of Rimjhim Bhadani who wrote <a href="https://summerofcode.withgoogle.com/archive/2018/projects/5758658998697984/">an Android game for teens</a> that encourages them to think about how to help a girl who got her period when she was unprepared. The game was designed under the auspices of Systers.org, and can be downloaded from the aforementioned link. Seeing the game on the screen was really impressive, but the gutsiness of the student to choose this and bring it to fruition was simply mind-blowing. If you ever get a chance to attend a GSoC Mentor summit, dive in and revel in the experience!</p>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br/>
</section>
