<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/kde-logo.png"/> Lakademy, October 2018, Florianopolis</h2>
                    <h5>By Sandro Andrade</h5>
                </div>
            </div>
        </div>
        <br/>
        
        
        <div class="row">
            <div class="">

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                               <img width="100%" src="images/sprints/lakademy_group.jpg" alt=""/>
                               <!-- <figcaption>Neofytos Kolokotronis explains how to facilitate the onboarding of new members into the community.</figcaption> -->
                            </figure>
                             
                            <p>LaKademy - the Latin American Akademy - took place from 11th to 14th of October 2018 at the Federal University of Santa Catarina (UFSC) in the city of Florianopolis, Brazil. Members of the local Free and open source software community gathered at the event. It was a fantastic opportunity for everyone to work on KDE projects, but also on other unrelated projects that each person contributes to. The participants strengthened their friendship bonds and shared experiences about creating, using, and maintaining software. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>On the first day, more than 20 participants, including Karina Mochetti and six students of Computer Science from the Federal University Fluminense (UFF, Niteroi) started resolving the issues in translation scripts used by the localization team. A lot of work was done on restructuring the translation process, and on preparing guidelines and tutorials for newcomers to the translation team.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The participants also worked on the KDE Edu software - the educational suite for everyone from age 5 to 95. It was the first time that the project had this kind of help - from a formal partnership between a university and its students - and also the first LaKademy with so many attendees from all corners of the continent. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <figure class="image-full">
                               <img width="100%" src="images/sprints/lakademy_session.jpg" alt=""/>
                               <figcaption>Workshop at LaKademy.</figcaption>
                            </figure>                        
                        
                            <p>More development work happened during the event; namely, cryptography was added to Konsole History file. Participants also overhauled Atelier Core compatibility and added support for new technologies. Last but not least, they updated the KDE Timeline website <https://timeline.kde.org> with additional significant events. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>On Saturday, October 13th, the traditional promo meeting took place, where the future of the Latin American KDE community was discussed. The meeting covered a wide range of topics: from communication tools, KDE's presence at Brazilian events, and the promotional materials to the proposal of migrating the KDE Brasil site to Wordpress.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Finally, on Sunday (October 14th) everyone celebrated the 22 years of KDE with a cake. Konqui was there, too! The community also considered potential host cities for LaKademy 2019, and shared some thoughts on making it happen outside of Brazil as a way of reinforcing the "Latin-American-ness" of the event.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br/>
</section>
