<section id="welcome-message">
    <div class="container">
        <div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Welcome to KDE's Annual Report 2018</h2>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="row">
                        <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <figure class="image-right">
                                    <img width="100%" src="images/Lidya01235.jpg" alt=""/>
                                </figure>                            
                                
                                <p>In a large free software community like KDE, something exciting happens every day of the year. 2018 was no exception. In this report, you will find some of the highlights of the year, and learn how KDE e.V. helped to make them happen.</p>

                                <p>But what stood out? In 2017, we selected three goals to focus our activities around: improved onboarding, usability and productivity for basic software, and privacy. In 2018 we saw the incredible results this focus brought. With existing contributors and many new people joining our community, we rallied around them to get closer to a world in which everyone has control over their digital life and enjoys freedom and privacy. It all culminated in a fabulous Akademy that brought together contributors from all across the globe, as well a large number of friends from other Free Software projects, and known and new companies that support KDE.</p>

                                <p>2018 brought new energy and a sense of accomplishment with several opportunities coming together to bring KDE's software to new devices and users. While there is still a lot of work to be done, today it is easier to contribute to KDE, and our software is more usable and privacy-focused than it was at the beginning of 2018.</p>

                                <p>In 2019 we will be selecting new goals to focus on, and I hope you will join us on the journey to making them become reality.</p>
                                <p><strong>Lydia Pintscher</strong> for KDE e.V. Board of Directors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
