<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                    <h2><img src="images/logos/xdc_logo.png" /> <a href="https://xdc2018.x.org/">X.org Developers' Conference</a></h2>
                    <h5>By Roman Gilg (<a href="https://subdiff.de/2018/10/31/representing-kde-at-xdc-2018/">Original post</a>)</h5>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="">

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>In September 2018, the X.Org Developers' Conference (XDC) was held in A Coruña, Spain. I participated as a Plasma/KWin developer. My main goal was to connect with developers from other projects and companies working on open source technology to show them that the KDE community can be a reliable and valuable partner, both now and in the future.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Instead of recounting chronologically what went down at the conference, let us look at three key groups of attendees who are relevant to KWin and Plasma: the graphics drivers and kernel developers, upstream userland developers, and colleagues working on other compositor projects.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Graphics drivers and kernel developers</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>If you search <a href="https://www.youtube.com/channel/UCXlH5v1PkEhjzLFTUTm_U7g">YouTube for videos of talks from XDC conferences</a>, you will notice many speakers are graphic drivers developers directly employed by hardware vendors. The reason is that hardware vendors have enough resources to employ open source developers and send them to conferences. They benefit greatly from contributing directly to open source projects. </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>At the conference, I had the opportunity to talk to Nvidia engineers. They were friendly and eager to discuss their technical solutions, despite the fact that there were things that they could not disclose because of the proprietary nature of Nvidia's technologies. They did say they would provide us with some hardware for testing purposes, however. This is something we appreciate and our KWin contributors received some Nvidia hardware which allowed them to troubleshoot some of the problems our users may experience with Nvidia cards.</p>
                            
                            
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The situation looks completely different for Intel and AMD. Intel has a long-standing track record of open development of their own drivers and contributing to generic open source solutions supported by other vendors. Not too long ago, AMD decided to open source their most commonly used graphics drivers on Linux. In both cases, it is a pleasure to work with their latest hardware, and talking to their developers at XDC was as great as I had imagined. They genuinely care about boosting the whole ecosystem and finding suitable solutions for everyone. I want to explicitly mention Martin Peres from Intel and Harry Wentland from AMD. During our in-depth discussions, they showed great interest in improving the collaboration between engineers working on the low-level code and us developers working in userland.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We have yet to mention ARM. Although they were "Gold Sponsors" of the event just like Nvidia, Intel and AMD, their contribution to the conference in terms of content was minimal (most likely because their technology is mostly closed-source). However, several extremely talented hackers that provide open-source drivers for ARM Mali GPUs presented their work at XDC, and I have the highest respect for their efforts.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>X.Org and freedesktop.org upstream developers</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Linux graphics drivers are cool and all, but without XServer, Wayland, and other auxiliary cross-vendor user space libraries, there would be not much to show the user. After all, it is the X.Org Developer's conference. X.org is most notably the home to the XServer, and maybe in the future, governance-wise, to freedesktop.org as well. So after looking at low-level driver development, what role did these projects and their developers play at the conference?</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Of course, the dichotomy from the previous paragraph is not that pronounced. Several graphics drivers are part of mesa, which is again part of freedesktop.org. Many graphics drivers developers are also contributing to userland, or are involved in organizational aspects of X.Org and freedesktop.org.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>One of the more prominent organizational aspects is project hosting. Daniel Stone gave a talk about the freedesktop.org transition to GitLab; a rather huge project that was still ongoing at the time of writing.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>There were not that many technical presentations about XServer, Wayland and other high-level components. After seeing some lightning talks on the first day of the conference, I decided to hold a lightning talk myself about my Xwayland GSOC project from 2017. You can watch the video of my presentation</a> below. Among other interesting talks, Drew De Vault presented a demo of wlroot's layer shell. In the future, we hope to increase the amount of talks on the topic of higher-level user space graphics stack.</p>
                            
                            <center style="margin: 1ex">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/Wjs_Yoz5n_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </center>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Compositor developers</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>We were a somewhat special crowd at XDC. Some attendees were from wlroots; there was Guido from Purism, and me from KWin. We were united by the fact that, to my knowledge, all of us were attending XDC for the first time.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>Looking at previous conferences, the involvement of compositor developers was marginal. My proclaimed goal - and I believe the goal of many others as well - is to change this. From people working on embedded to desktop developers, everyone will benefit from working together where possible, and from exchanging information with each other, with upstream and with hardware vendors. I believe X.Org and freedesktop.org can be a perfect platform for that.</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <h3>Final remarks on organisation</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="service-info">
                            <p>The organisation of the conference was great. I would like to extend a huge thanks to Igalia for hosting XDC in their beautiful hometown. The conference schedule was really accommodating, with three long breaks every day and long pauses between the talks, allowing the attendees to talk to each other. On the downside, all the attendees were spread out over the city in different hotels, which made post-conference gatherings a bit inconvenient. Following the Akademy approach - meaning, recommending a reasonably-priced default hotel for everyone - could make the next XDC even better.</p>
                        </div>
                    </div>
                </div>

            
            </div>
        </div>
    </div>
    <br/>
</section>
