<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="images/KDE_Connect_Sprint/Albert_Vaca_Group_Hack_Room.jpg"><img src="images/KDE_Connect_Sprint/Albert_Vaca_Group_Hack_Room.jpg" width="100%" /></a><br /><figcaption>KDE Connect group photo.</figcaption></figure>
</div>

<p><a href="https://kdeconnect.kde.org/">KDE Connect</a> Sprint 2019 was hosted by SUSE from 19th to 21st July 2019 in Nuremberg, Germany. Developers gathered for a thought-provoking discussion on improving KDE Connect. We had discussions on resolving the current issues and suggestions for new features. Some of the major points that were discussed included:</p>

<ul>
    <li>TCP connections will not be open to all reachable devices.</li>
    <li>Using mDNS (a.k.a. Avahi/Zeroconf/Bonjour) to discover KDE Connect devices.</li>
    <li>Making KDE Connect better on Wayland.</li>
    <li>Google lockdowns Android more and more, and how to handle that.</li>
    <li>Improving the Bluetooth backend bug.</li>
</ul>>

<p>Now let’s discuss some of these points in detail...

<h3>Privacy</h3>

<p>Privacy is a major issue for people and there were often many requests for more privacy-conscious modes of KDE Connect. Device names often contain personal information and show that this person is around. Even if you change the phone names, device IDs cannot be changed as they are unique, so you can still track a particular device by checking the same ID again and again.</p>

<h3>Backend</h3>

<p>Another major issue was to resolve the current discovery protocol that often doesn’t work, as many networks block the UDP broadcast. Often networks block KDE Connect's UDP broadcasts which were then only workable after adding the IP address manually. The suggested solution was to use mDNS for discovering KDE Connect devices as this might make KDE Connect more reliably able to auto-connect.</p>

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="images/KDE_Connect_Sprint/Group_Photo.jpg"><img src="images/KDE_Connect_Sprint/Group_Photo.jpg" width="800" /></a><br /><figcaption>KDE Connect hackers at work.</figcaption></figure>
</div>

<p>Every KDE Connect Sprint we try to fix the issues with the application and try to add new features to make KDE Connect better for the users. This year we also not only discussed resolution of major issues but fixed a lot of bugs with additions of new features.</p>

<p>KDE Connect has evolved over time and acquired many new functionalities and we expect this evolution to continue and become better and better for users.</p>
