<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="images/PyConIndia/1000_plus_attendees.jpg"><img src="images/PyConIndia/1000_plus_attendees.jpg" width="100%" /></a></figure>
</div>

PyCon India was held in Chennai from 12th to 15th October 2019.  It is the annual conference of the Python community in India, which brings together developers, experts, academics, scientists and enthusiasts from all over India and abroad. It is one of the largest Python conferences in Asia.

This year conference was attended by more than 1000 users and developers of the Python programming language from all over India. Many international names famous for their contributions in Python programming world also attended the conference.

KDE participated in the conference. The goal was to increase awareness regarding KDE as an organization in India and invite more contributors with an aim to:


+ Make KDE a household name, by trying to make KDE, Plasma and some of KDE's more popular applications recognizable.
+ Help KDE become recognized as a provider of quality software, improve consumers' and businesses' awareness, and positive perception of KDE’s products.
+ Promote KDE as a FOSS organization and to invite young contributors with a will to learn.


To achieve our aim, Rituka and I put up a poster for KDE Community. We aimed to create awareness about KDE in India. On the second day, we grabbed a poster stand and set up our little poster presentation stall.

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="images/PyConIndia/KDE_Team_Piyush_Rituka_Subin_Kuntal.JPG"><img src="images/PyConIndia/KDE_Team_Piyush_Rituka_Subin_Kuntal.JPG" width="800" /></a></figure>
</div>

As 1000+ attendees are a lot to cover within a 30-minute window, I planted KDE stickers at every booth – registration, T-shirt distribution, help desk, and even planted the Konqi standee right in the middle of the hall to promote KDE as much as possible. People liked the mascot Konqi and many posted pictures with Konqi online.

<div style='text-align: center'>
    <figure style="padding: 1ex; margin: 1ex;"><a href="images/PyConIndia/KDE_Help_Desk.jpeg"><img src="images/PyConIndia/KDE_Help_Desk.jpeg" width="800" /></a></figure>
</div>
