<p>Consistency is one of the three goals the KDE Community selected to work on during Akademy 2019. Consistency here means having a single solution for a particular problem rather than many different ones. This applies to application design elements, feature implementations, website structure and style, and the KDE ecosystem as a whole that, unfortunately, often suffers from redundancy.</p>

<p>We spent the first month on setting up the infrastructure needed to move the goal forward. We created <a href="https://phabricator.kde.org/project/view/312/">Phabricator board and filled it with relevant tasks</a>. We had also set up <a href="https://webchat.kde.org/#/room/%23consistency:kde.org">a chat on Matrix</a>. The <a href="https://kde.org/goals">KDE Goals</a> page has been updated with links to goals’ KDE Community Wiki pages, which will help guide interested users and developers on how to contribute.</p>

<p>Then, the firsts tasks came. Many were happy to hear about consistency in GTK applications, which gained a shadow and now follow Plasma style regarding fonts, colors and cursors themes. Scrollbars have been made consistent throughout Kirigami and QtWidgets, and they are now thicker and always shown. Both things have helped to improve their usability. Many websites were also brought to the new site style. These sites include Calligra, JuK, KMyMoney and many others.</p>

<p>Many tasks were created to discuss the general KDE design direction. These tasks are not easy to tackle, and include sidebar design, tool areas, top toolbars and so on. Then, there are small visual tasks: plasmoid tooltips inconsistent icons were removed, system tray margins were unified and now uses the correct highlight effect. Generally speaking, there are all kinds of work going on, ranging from long term discussion to short term fixes.</p>                           
