<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://akademy.kde.org/2017" target="_blank"><img src="images/kde-logo.png"/> Akademy 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>The <a href="https://akademy.kde.org/2017" target="_blank">2017 edition of Akademy</a> was held in Almería, Spain. Starting officially on the 22nd of July and ending on the 27th, <a href="https://conf.kde.org/en/akademy2017/public/schedule/2017-07-22" target="_blank">the weekend was dedicated to talks</a>. The rest of the week was dedicated to workshops and BoFs — Birds of a Feather — sessions in which community members interested in the same things meet and work together. This year's event attracted over 110 attendees. Attendees traveled mainly from Europe, but also from North and South America, and Asia. Over the weekend, visitors were able to attend over 40 different talks on all kinds of topics, ranging from developing applications for mobile phones to best ways for collaboration between communities.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>The overhaul to this policy was discussed at some length on KDE's <a href="https://mail.kde.org/mailman/listinfo/kde-community" target="_blank">Community</a> mailing list, but the conversation didn't reach a satisfactory conclusion. After a few hours of face-to-face negotiation led to an acceptable solution which <a href="https://dot.kde.org/2017/07/26/wednesday-akademy-bof-wrapup" target="_blank">Jonathan Riddell announced on Wednesday in the half-day wrap-up session</a>. On the non-technical front, there were all-important discussion on how to make KDE technologies more accessible to end users, and how to make the community more open to potential contributors. Improving communication aimed at non-technical users, reaching out and cooperating with other communities, and implementing policies that promote inclusiveness were some of the areas participants pledged to work on.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>From Monday to Thursday, Akademy was dedicated to BoFs and workshops. This part is a primary motivation for attending Akademy, since it gives them the chance to sit down with their colleagues in the flesh. They can discuss and code together without having to relay messages over email or IRC. One of the hottest topics was <a href="https://www.kde.org/plasma-desktop" target="_blank">Plasma</a>. Plasma is KDE's graphical desktop and mobile environment. Dedicating a large chunk of the meetings to Plasma makes perfect sense. Although most KDE apps work on a wide range of platforms (including Windows, MacOS and Android), the first platform KDE developers would want to target is their own. With as much time dedicated to mobile frameworks, such as <a href="https://techbase.kde.org/Kirigami" target="_blank">Kirigami and Halium</a>, as to Plasma on desktop computers, it is clear the developers are very seriously committed to the effort of taking over smartphones and breaking the Android/iOS duopoly. KDE developers know very well that a rich software catalog is essential to attract end users, hence many of the talks and BoFs where dedicated to app development.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/akademy.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Akademy 2017</h3>
                                    <p>Attendees of Akademy 2017</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/akademy.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>There were slots on how to port applications to the upcoming <a href="https://wayland.freedesktop.org/" target="_blank">Wayland</a> display server protocol which, like winter, is definitely coming someday. Aleix Pol dedicated time to explaining how developers could package apps for <a href="http://flatpak.org/" target="_blank">Flatpak</a>, a universal packaging system for all GNU/Linux distributions. Scattered throughout the week were also several talks about <a href="http://doc.qt.io/qt-5/qmlapplications.html" target="_blank">QML</a>, <a href="https://doc.qt.io/qt-5/qt3d-index.html" target="_blank">Qt 3D</a>, and other KDE-related technologies. As for the steps the applications should actually go through — from concept to working utility on the desktop or your phone's screen — during Akademy 2017 the community reached an agreement on the new <a href="https://community.kde.org/Policies/Application_Lifecycle" target="_blank">Applications Life-cycle Policy</a>.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>This was another solid Akademy. Knowledge was shared, agreements reached, and code got written. Even though the KDE community discussed a wide variety of topics, there was clearly a common underlying theme of how members of KDE want to shape the world of tech to their vision — the vision of a world in which everyone has control over their digital life and enjoys freedom and privacy. After 2017's hot Andalusian sun, Akademy will be moving in 2018 to the heart of Europe: Vienna. See you there!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
