<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="https://lakademy.kde.org/lakademy17.html" target="_blank"><img src="images/kde-logo.png"/> LaKademy 2017</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>The fifth edition of <a href="https://lakademy.kde.org/" target="_blank">LaKademy</a> took place in <a href="https://en.wikipedia.org/wiki/Belo_Horizonte" target="_blank">Belo Horizonte</a> (<a href="https://en.wikipedia.org/wiki/Minas_Gerais" target="_blank">Minas Gerais</a>), from 29th April to 1st May. LaKademy is an effort to promote the FLOSS culture, hacking sessions, and collaborative work inside the Latin-American KDE community. It is also a way to let people know about the Brazilian/Latin-American KDE community, the sort of work we usually do, and how newcomers (six have attended this edition of LaKademy) can start their journeys into the free software world. It is the place to strengthen relationships, make new friends, and let people fall in love about such an amazing FLOSS community. Sixteen contributors attended LaKademy 2017, interested in contributing to translation, promo, artwork, <a href="https://atelier.kde.org/" target="_blank">Atelier</a>, <a href="https://umbrello.kde.org/" target="_blank">Umbrello</a>, <a href="https://edu.kde.org/" target="_blank">KDE-Edu</a>, <a href="https://www.kde.org/applications/system/dolphin/" target="_blank">Dolphin</a>, <a href="https://games.kde.org/" target="_blank">KDE Games</a>, <a href="https://www.kdevelop.org/" target="_blank">KDevelop</a>, and <a href="https://kdenlive.org/en/" target="_blank">Kdenlive</a>. The traditional LaKademy promo meeting happened on 30th morning, where we made a retrospect of 2016 actions and started thinking about what we want to do for 2017/2018. As in the past editions, Filipe Saraiva dedicated a lot of time to <a href="https://edu.kde.org/cantor/" target="_blank">Cantor</a>, the mathematical software he maintains at KDE. This time the main tasks performed were an extensive set of reviews: revisions in pending patches, in the bug management system in order to close very old (and invalid) reports, and in the task management workboard, specially to ping developers with old tasks without any comment in the last year.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/lakademy.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>LaKademy 2017</h3>
                                    <p>A Happy Family of Latin-American KDE Contributors</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/lakademy.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
			<p>In LaKademy 2017 we also worked in other set of tasks related to the management and promotion of KDE Brazil. We investigated how to bring back our unified feed with Brazilian blogs posts as in the old Planet KDE Português, utilized to send updates about KDE in Brazil to our social networks.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>Frederico Guimarães implemented the solution and Filipe updated this feed in social networks, updated our e-mail contact utilized in this networks, and started a bootstrap version of <a href="https://lakademy.kde.org/" target="_blank">LaKademy website</a> (but the team is migrating to WordPress, I think it will not be used). We also did a large revision in the tasks of KDE Brazil workboard, migrated past year from the TODO website. Besides all this, we had the promo meeting to discuss our actions in Latin-America &#8210; all the tasks were documented in the workboard.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
