<section id="welcome-message">
    <div class="container">
        <div class="heading wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Welcome Message</h2>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="row">
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
		                <p>Over the past 21 years, the KDE community has been a space for sharing knowledge, creating innovative technology, and improving people's lives following the principles of Free Software. During our quite long history, with each passing year, KDE has become better at supporting contributors' interests and setting goals that benefit the community.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
				<p>In 2017, KDE's presence spread in Asia, thanks in part to FOSSASIA and Hong Kong Open Source Conference, as well as in Latin-America ‒ QtCon Brazil was a great success. conf.kde.in has reached its 7th edition, and we had a remarkable presence at the Qt World Summit. Also in 2017, KDE had the pleasure of having Private Internet Access join our esteemed group of KDE Patrons, which already includes Blue Systems, Canonical, Google, SUSE, and The Qt Company.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
				<p>As for KDE e.V.'s administrative and PR infrastructure ‒ in addition to the excellent work already done by Petra Gillert as the assistant of the KDE e.V. Board of Directors ‒ in 2017 two marketing contractors joined our team. The result is a considerable uplift in the way we communicate to our partners, users, and contributors.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
			        <p>This report brings together the most relevant achievements of KDE in 2017. KDE is a global and diverse community, and as such, we strive not only to sustain the pace of contributions in places with a well-established KDE culture, but also to foster the seed of FOSS initiatives in regions previously outside of KDE's radar.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
			        <p>In addition, we went through the process of asking for proposals, selecting, and announcing the winners of the KDE community's goals for the upcoming years. We believe this is a quite important effort to bring back unity and catalyze a uniform mindset over different KDE projects.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                            <div class="service-info">
                                <p>Enjoy the reading!</p>
                                <p><strong>Sandro Andrade</strong><br/>for the KDE e.V. Board of Directors</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
