---
layout: default
---

<main class="navfix container" aria-label="Content">
  {% if page.konqi %}
    <img src="{{ page.konqi }}" alt="Konqi, the KDE mascot" class="konqi">
  {% endif %}

  {% unless page.no-title %}
    <h1>{{ page.title }}</h1>
  {% endunless %}

  {{ content }}
</main>
